In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime

In [2]:
employees = pd.read_csv("../data/employees.csv")
employees.head()

   emp_no emp_title_id  birth_date  first_name  last_name sex   hire_date
0  473302        s0001   7/25/1953    Hideyuki   Zallocco   M   4/28/1990
1  475053        e0002  11/18/1954       Byong  Delgrande   F    9/7/1991
2   57444        e0002   1/30/1958       Berry       Babb   F   3/21/1992
3  421786        s0001   9/28/1957       Xiong   Verhoeff   M  11/26/1987
4  282238        e0003  10/28/1952  Abdelkader    Baumann   F   1/18/1991

In [3]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   emp_no        300024 non-null  int64
 1   emp_title_id  300024 non-null  object
 2   birth_date    300024 non-null  object
 3   first_name    300024 non-null  object
 4   last_name     300024 non-null  object
 5   sex           300024 non-null  object
 6   hire_date     300024 non-null  object
dtypes: int64(1), object(6)
memory usage: 16.0+ MB

In [ ]:
employees.